
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30vh;
    background-color: rgba(230, 230, 230, 1);
}

.user_name {
    position: relative;
    top: 0vh;
    left: 1vw;
    font-size: 3vh;
    text-decoration: underline;
}

#head_button {
    position: absolute;
    top: 0vh;
    right: 0vw;
}
#all, #absence {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
#all:hover, #absence:hover{
    background: #67c5ff;
    color: white;
}

#warning {
    position: absolute;
    top: 10vh;
    left: 35vw;
    font-size: 7vh;
}



div.subject-list {
    height: 150vh;
    width: 85vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    position: absolute;
    top: 35vh;
    left: 7.5vw;
}

div.subject {
    position: relative;
    height: 30vh;
    width: 25vw;

    border-radius: 10px 10px 10px 10px;
    background-color: gray;
    color: white;
}

.star {
    position: absolute;
    font-size: 5vh;
    /* height: 7vh;
    width: 7vh; */
}
.icon {
    position: absolute;
    top: 7vh;
    left: 2vw;
    height: 17vh;
    width: 12vw;
}
.attendance {
    position: absolute;
    top: 15vh;
    left: 15vw;
    font-size: 5vh;
}
/* a {
    text-decoration: none;
} */
