{% load static %}

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/myroll.css' %}">
        
        <title>Myroll</title>
    </head>

    <body>
        {% if user.is_authenticated %}
            ログインしている場合に表示される
        {% else %}
            未ログインの場合に表示される
        {% endif %}
        <hr>
        <div class="subject-list">
            {% for i in for_range10 %}
                <div class="subject">aiu</div>
            {% endfor %}
        </div>
    </body>
</html>
