{% load static %}

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'myroll/css/myroll.css' %}">
        <link src="{% static 'myroll/images/wanage.png' %}">
        
        <title>Myroll</title>
    </head>

    <body>
        <div id="header">
            <span class="user_name">user: CreativeProduction</span>
            <div id="head_button">
                <button type="button" id="all">全て</button>
                <button type="button" id="absence">欠席した科目</button>
            </div>
            <div id="warning">欠席数が多い科目</div>
        </div>

        {% comment %} {% if user.is_authenticated %}
            ログインしている場合に表示される


            <li><a href="{% url 'account:home' %}">ほげほげページへのリンク</a></li>


        {% else %}
            未ログインの場合に表示される
        {% endif %} {% endcomment %}

        <div class="subject-list">
            {% for i in for_range10 %}
                <a href="{% url 'myroll:subject' %}">
                    <div class="subject">
                        <div class="star">⭐️</div>
                        <img class="icon" src="{% static 'myroll/images/wanage.png' %}" alt="wanage">
                        <div class="attendance">17/20</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </body>
</html>
