{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 互換表示の解除 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static 'account/css/base.css' %}">

    <title>ユーザー登録・更新</title>
  </head>

  <body>
    <!-- ナビバー -->
    <nav>
      <div id="header">
        <span class="user_name" style="text-decoration:none;">
          {% if not user.is_authenticated %}
            ゲスト
          {% else %}
            {{ user.username }}
          {% endif %}
        </span>
        <a href="{% url 'myroll:main' %}" style="text-decoration:none;">
          <div id="sublist_btn">科目一覧</div>
        </a>
        <a href="{% url 'myroll:schedule' %}" style="text-decoration:none;">
          <div id="schedule_btn">日程</div>
        </a>
        <a href="{% url 'account:login' %}" style="text-decoration:none;">
          <div id="login">ログイン</div>
        </a>
        <a href="{% url 'account:logout' %}" style="text-decoration:none;">
          <div id="logout">ログアウト</div>
        </a>
        <a href="{% url 'account:signup' %}" style="text-decoration:none;">
          <div id="signup">サインアップ</div>
        </a>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    
  </body>
</html>